{% extends "tread_template.html.twig" %}

{% block rightsection %}

    <h3>Current Brand Info</h3>
    <br>
    <h4>Name: {{ brand.getName }}</h4>

    <br>
    <a href="/brand/{{ brand.getId }}"><i class="fa fa-home" aria-hidden="true"></i> Back to Brand Page</a>
    <br><br>
    <a href="/brands"><i class="fa fa-home" aria-hidden="true"></i> Back to Brands List</a>

{% endblock %}

{% block leftsection %}

<h3>Update Brand:</h3>

    <form action="/update_brand/{{ brand.getId }}" method="post">
        <input type="hidden" name="_method" value="patch">
        <div class="form-group">
            <label for="name">Brand Name:</label>
            <input type="text" name="name" value="{{ brand.getName }}" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-info"><i class="fa fa-pencil-square" aria-hidden="true"></i> Update Brand!</button>
    </form>

{% endblock %}
