<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet" type="text/css">
        <title>Tread Shoes Database</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Tread Home</a>
                        <a href="/stores" class="navbar-brand">Tread Stores</a>
                        <a href="/brands" class="navbar-brand">Tread Brands</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <form action="/view_stores" method="post" class="navbar-brand" style="display: inline">
                            {% if stores is not empty %}
                            <select name="stores_list" onchange="this.form.submit();">
                                <option disabled selected value>Browse Stores</option>
                                {% for store in stores %}
                                <option value="{{store.getId}}">{{store.getName}}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            {% endif %}
                        </form>
                        <form action="/view_brands" method="post" class="navbar-brand" style="display: inline">
                            {% if brands is not empty %}
                            <select name="brands_list" onchange="this.form.submit();">
                                <option disabled selected value>Browse Brands</option>
                                {% for brand in brands %}
                                <option value="{{brand.getId}}">{{brand.getName}}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            {% endif %}
                        </form>
                    </ul>
                </div>
            </nav>


            <h1><a href="/">Welcome to the Tread Shoes Database</a></h1>

            <div class="row">
                <div class="col-lg-7">
                    <div class="panel">
                        <div class="panel-body">
                            {% block leftsection %}
                                <h2>Test</h2>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="panel">
                        <div class="panel-body">
                            {% block rightsection %}
                            <h2>Another Test</h2>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include '/footer.html.twig' %}
    </body>

</html>
