<!DOCTYPE html>
<html>
    {% include '/components/header.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}


            <h1><a href="/">Welcome to the Tread Shoes Database</a></h1>

            <div class="row">
                <div class="col-lg-7">
                    <div class="panel">
                        <div class="panel-body">
                            {% block leftsection %}
                                <h2>Test</h2>
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="panel">
                        <div class="panel-body">
                            {% block rightsection %}
                            <h2>Another Test</h2>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include '/components/footer.html.twig' %}
    </body>

</html>
