.inline-forms {
    float: right;
}

/*.btn {
    padding: 2px;
}*/

#add-brand-button {
    padding: 2px;
}

select {
    color: #323B37;
}

.panel-body {
    overflow-y: auto;
}

body {
    min-height: 100%;
}

.container {
    overflow: auto;
    padding-bottom: 40px;
}

#footer {
    position: relative;
    margin-top: -40px;
    height: 40px;
    clear: both;
    text-align: center;
}
