.inline-forms {
    float: right;
}

.btn {
    padding: 2px;
}

#add-brand-button {
    padding: 2px;
}

.left-panel {
    float: left;
    width: 200px;
    display: inline-block;
}

.right-panel {
    float: right;
    width: 30%;
    display: inline-block;
}


#footer {
    display: block;
    padding-bottom: 2px;
    margin-top: 75px;
    font-size: 60%;
    position: absolute;
    bottom: 0px;
    margin-left: 37%;
    text-align: center;
    font-size: 14px;
}
